name: Record animation

on: [push]

jobs:
  record:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Record and deploy the animation
        uses: cyberbotics/webots-animation-action@fix-upgrade-animation
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
